.topnav {
  width: 100%;
  background-color: #5D5D5D;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
}

/* Style the links inside the navigation bar */
.topnav a {
  width: 20%;
  float: left;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #1A472A;
  color: white;
}


@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
    width: 100%;
    text-align: left; 
  }
}
.topnav img {
  width: 20%;
  align-content: centre;
}

.welcome
{
    background-position:center;
    width: 100%;
    height: 100%;
    margin:  0 auto;

}

body
{
    margin: 0
}

.webcontent
{
  margin: 10px;
}

.content {
  position: absolute; /* Position the background text */
  left:  0;
  top:  15%;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1; /* Grey text */
  width: 100%; /* Full width */
  padding: 20px; /* Some padding */
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  font-family: sans-serif;

}
