.topnav {
     width: 100%;
     background-color: #5D5D5D;
     overflow: hidden;
     position: fixed;
     top: 0;
     left: 0;
     z-index: 1;
}
/* Style the links inside the navigation bar */
 .topnav a {
     width: 20%;
     float: left;
     color: #f2f2f2;
     text-align: center;
     text-decoration: none;
     font-size: 20px;
     padding-top: 20px;
     padding-bottom: 20px;
}
/* Change the color of links on hover */
 .topnav a:hover {
     background-color: #ddd;
     color: black;
}
/* Add a color to the active/current link */
 .topnav a.active {
     background-color: #1A472A;
     color: white;
}
 @media screen and (max-width: 500px) {
     .navbar a {
         float: none;
         display: block;
         width: 100%;
         text-align: left;
    }
}
 .topnav img {
     width: 20%;
     align-content: centre;
}
 #welcome {
     background-position:left;
     background-size: cover;
     background-image: url("MoviePosters/bg_homeimage.jpg");
     height: 800px;
     width: 100%;
     margin: 0 auto 
}
 #covid {
     background-position:left;
     background-size: cover;
     background-image: url("MoviePosters/Covid.png");
     height: 600px;
     width: 100%;
     margin: 0 auto 
}
 body {
     margin: 0;
}
 .content {
     position: absolute;
    /* Position the background text */
     left: 0;
     top: 15%;
     background: rgb(0, 0, 0);
    /* Fallback color */
     background: rgba(0, 0, 0, 0.5);
    /* Black background with 0.5 opacity */
     color: #f1f1f1;
    /* Grey text */
     width: 100%;
    /* Full width */
     padding: 20px 0px 20px 0px;
    /* Some padding */
     text-align: center;
     font-size: 50px;
     font-weight: bold;
     font-family: sans-serif;
}
 #covid img {
     width: 100%;
}
 #notice p {
     font-size: 20px;
}
 #notice h1 {
     font-size: 50px;
}
 #notice {
     position: absolute;
    /* Position the background text */
     background: rgb(0, 0, 0);
    /* Fallback color */
     background: rgba(0, 0, 0, 0.5);
    /* Black background with 0.5 opacity */
     color: #f1f1f1;
    /* Grey text */
     width: 100%;
    /* Full width */
     padding: 20px 0 50px 0;
    /* Some padding */
     text-align: center;
     font-size: 50px;
     font-weight: bold;
     font-family: sans-serif;
     margin-top: 5%;
     /* Editing text style */
}
#footing {
    background: #AAAAAA;
    width: 100%;
    position: absolute;

}

#about {
    font-size: 20px;
    font-family: sans-serif;
    width: 20%;
    padding-left: 20px;
    text-align: left;
    float: left;
    color: #000000;

}

#contact {
    font-size: 20px;
    font-family: sans-serif;
    padding-right: 20px;
    float: right;
    color: #000000;

}
#h_email {
    font-size: 20px;
    font-family: sans-serif;
    padding-right: 20px;
    float: right;
    color: #000000;
}

.locations {
     font-family: sans-serif;
    text-align: center;
    width: 100%;
}

.locations table {
    font-size: 20px;

}

.locations iframe {
    margin-top: 3%;
    border-radius: 5%;
    background-color: #AAAAAA;
    box-shadow: 0px 20px 40px 20px #AAAAAA;

}

